.App {
  text-align: center;
}

@media only screen and (min-width: 1246px) {
  .shoppies {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

@media only screen and (min-width: 1145px) and (max-width: 1245px) {
  .shoppies {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
